In [ ]:
import pandas as pd

In [19]:
# write a program to add a numbers in list
numbers = [6,8,1,4,6,9]

In [22]:
 sum = 0

In [23]:
for val in numbers:
 sum = sum+val

In [24]:
print(sum)

34

In [45]:
n = 10

In [46]:
sum1 =0

In [47]:
i =1

In [48]:
while i<=n:
  sum1 = sum1+i
  i = i+1

In [49]:
print('sum',sum1)
print('i',i)

sum 55
i 11

In [9]:
a=80
b=7
print("The sum of two is",a+b)

The sum of two is 87

In [12]:
# to find remainder
c=65
d=19
print("the remainder when c is divided by d  is",c%d)

the remainder when c is divided by d  is 8

In [27]:
# check the type of input
a=34
print(a)

34

In [40]:
a= input("enter a number here")
type(a)

enter a number here78

str

In [45]:
b=56
c=76 
c>b

True

In [52]:
# to find the number entered by the user
a=input("enter first number:")
b=input("enter the second number:")
a=int(a)
b=int(b)
avg=(a+b)/2
print("the average of a and b",avg)

enter first number:90
enter the second number:89
the average of a and b 89.5

In [55]:
 # to find square of number enter by the user
a=input("enter the first number")
b=input("enter the second number")
a=int(a)
b=int(b)
square=(a*a,b*b)
print('the square of  a and b',a*a,b*b)

enter the first number78
enter the second number89
the square of  a and b 6084 7921